# Latexmk
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.xdv
*.loa
*.los
*.tmp
*.4ct
*.4tc

# biblatex + bibtex
*.bbl
*.bcf
*.blg
*.run.xml

# make4ht
*.dvi
*.xref
*.idv
*.lg


# Word
~$*.docx
